* {
  margin: 0;
}

:root {
  --main-color: #6346ae;
  --btn-primary: linear-gradient(109deg, #6f4fbf 26.43%, #4b338a 77.39%);
  --btn-primary-hover: linear-gradient(109deg, #7f5fcf 26.43%, #5b4490 77.39%);
  --green-color: #34b288;
  --red-color: #eb4763;
}

@font-face {
  font-family: "Hamoon";
  src: url("./fonts/hamoon.ttf") format("opentype");
}

@font-face {
  font-family: "IRANSansX-Medium";
  src: url("./fonts/IRANSansX-5-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "IRANSansX-Bold";
  src: url("./fonts/IRANSansX-7-Bold.woff2") format("woff2");
}

body {
  font-family: "IRANSansX-Medium", sans-serif;
  padding-top: 60px;
}

.main-navigation {
  backdrop-filter: blur(40px);
  background-color: hsla(0, 0%, 100%, 0.48);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 5rem;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.menu {
  cursor: pointer;
  display: none;
}

@keyframes slideInFromRight {
  from {
    right: -50%;
  }
  to {
    right: 0;
  }
}

.sidebar-open {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10001;
  height: 100vh;
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
  animation: slideInFromRight 0.5s forwards;
}

@keyframes slideOutToRight {
  from {
    right: 0;
  }
  to {
    right: -50%;
  }
}

.sidebar-close {
  animation: slideOutToRight 0.5s forwards;
}

#close-sidebar {
  display: flex;
  justify-content: flex-end;
  padding-left: 1rem;
  padding-top: 1rem;
  cursor: pointer;
}

.sidebar-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 3rem;
  list-style-type: none;
}

.sidebar-navigation-list a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}

.sidebar-navigation-list a:hover {
  color: var(--main-color);
}

.btn-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  gap: 0.5rem;
}

#signup-nav-btn {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "IRANSansX-Medium";
  background: var(--btn-primary);
  color: white;
}

#signup-nav-btn:hover {
  background: var(--btn-primary-hover);
}

#login-nav-btn {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: "IRANSansX-Medium";
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background: white;
}

#login-nav-btn:hover {
  background: #f0ebff;
}

.navigation-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation .logo a {
  font-family: "Hamoon";
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-color);
  padding: 0;
  padding-left: 1rem;
  padding-right: 3rem;
}

.main-navigation .navigation-list a {
  display: block;
  color: rgb(47, 47, 47);
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}

nav ul li:not(.logo) a:hover {
  color: var(--main-color);
}

.hero-section {
  background-color: radial-gradient(circle at 50% 80%, #f5f8ff, #c6cafe);
  display: flex;
}

.hero-section[data-v-ec150014] {
  background: radial-gradient(circle at 50% 80%, #f5f8ff, #c6cafe);
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.hero-content {
  width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: right;
}

.hero-content h1 {
  font-family: "IRANSansX-Bold";
  font-size: 2.3rem;
  display: flex;
  line-height: 1.2;
  flex-wrap: wrap;
}

.hero-text p {
  color: grey;
  font-size: 1.2rem;
  padding-top: 1rem;
}

.hero-actions {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  padding-left: 5rem;
}

.action-signup {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.action-signup .btn-signup {
  flex: 1;
  background: var(--btn-primary);
  color: white;
  font-family: "IRANSansX-Medium", sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.action-signup .btn-signup:hover {
  background: var(--btn-primary-hover);
}

.input-phone {
  flex: 2.5;
  height: 3.2rem;
  border: none;
  padding: 0 1rem;
  border-radius: 8px;
  font-weight: 550;
  font-family: "IRANSansX-Medium", sans-serif;
  font-size: 0.95rem;
}

.input-phone:focus {
  border: none;
  outline: none;
}

.btn-signup-google {
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 8px;
  height: 3.2rem;
  cursor: pointer;
  font-family: "IRANSansX-Medium", sans-serif;
  font-weight: 800;
  font-size: 0.95rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

@media (max-width: 1200px) {
  .navigation-list {
    display: none;
  }

  .main-navigation .logo a {
    padding-right: 2rem;
  }

  .menu {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
  }
}

@media (min-width: 986px) and (max-width: 1100px) {
  .hero-content {
    padding-right: 5rem;
    overflow-x: hidden;
    width: 31rem;
  }

  .hero-container {
    gap: 3rem;
  }
}

@media (max-width: 986px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .hero-section {
    padding: 5rem 0;
  }
}

@media (max-width: 768px) {
  .hero-container #hero-image {
    display: none;
  }

  .hero-content {
    width: 100%;
    text-align: center;
  }

  .hero-content h1 {
    text-align: right;
    padding: 0 3rem;
  }

  .action-signup {
    display: flex;
    flex-direction: column;
  }

  .hero-actions {
    padding-left: 0;
  }

  .action-signup .btn-signup {
    padding: 1rem 0;
  }

  .input-phone {
    padding: 1rem 1rem;
  }
}

.crypto-list {
  padding-top: 3rem;
  padding-right: 3rem;
  padding-bottom: 10rem;
}

.table-wrapper {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
  padding-top: 2rem;
}

.load-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  text-align: center;
}

th:first-child {
  text-align: start;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table-container {
  padding-top: 3rem;
  max-width: 100%;
  overflow-x: auto;
}

.btn-table {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.btn-table .btn-buy {
  font-family: "IRANSansX-Medium";
  background: transparent;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-table .btn-buy:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.btn-table .btn-sell {
  font-family: "IRANSansX-Medium";
  background: transparent;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-table .btn-sell:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.currency-name {
  display: flex;

  align-items: center;
  gap: 0.75rem;
}

.name-far {
  font-size: 1.1rem;
}

.name-en {
  color: gray;
  font-size: 0.75rem;
}

#loadMore {
  padding: 0.75rem 0.5rem;
  font-family: "IRANSansX-Medium";
  border: none;
  border-radius: 8px;
  background: var(--main-color);
  color: white;
  cursor: pointer;
  margin-left: 1rem;
}

#loadMore:hover {
  background: var(--btn-primary-hover);
}

.ascending {
  color: var(--green-color);
  font-family: "IRANSansX-Bold";
}

.descending {
  color: var(--red-color);
  font-family: "IRANSansX-Bold";
}

.currency-change {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
